SynapseDataExporter/templates/SynapseToBlobPipelineCsv/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "schemaName": {
            "type": "string",
            "defaultValue": "covid",
            "metadata": {
                "description": "Enter the name of schema to extract data"
            }
        },
        "tableName": {
            "type": "string",
            "defaultValue": "covid_british_columbia",
            "metadata": {
                "description": "Enter the name of table to extract data"
            }
         },
        "containerName": {
            "type": "string",
            "defaultValue": "synapsesqlpooldata",
            "metadata": {
                "description": "Enter the name of blob storage container to store the data"
            }
        },
        "datasetName": {
            "type": "string",
            "defaultValue": "covid_british_columbia",
            "metadata": {
                "description": "Enter the dataset name which will be the name of data stored in blob storage container?"
            }
        },

        "EmailTo": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Enter the email address for sending alerts "
            }
        },
        "EmailFrom": {
            "type": "string",
            "defaultValue": "adfalerts@hotmail.com",
            "metadata": {
                "description": "Enter the email address from you want to send alerts "
            }
        },

        "logicAppName": {
            "defaultValue": "TeamsNotify",
            "type": "String"
        }
    },
    "variables": {
        "datasetCsv":"[concat(parameters('datasetName'), '.csv')]"
    },
    "resources": [

                       {
                        "name": "[concat(parameters('factoryName'), '/SynapseToBlobPipelineCsv')]",
                        "type": "Microsoft.DataFactory/factories/pipelines",
                        "apiVersion": "2018-06-01",
                        "properties": {
                            "activities": [
                                {
                                    "name": "SynapseSqlpoolToBlobStorage",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SqlDWSource",
                                            "queryTimeout": "02:00:00",
                                            "partitionOption": "None"
                                        },
                                        "sink": {
                                            "type": "DelimitedTextSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextWriteSettings",
                                                "quoteAllText": true,
                                                "fileExtension": ".txt"
                                            }
                                        },
                                        "enableStaging": true,
                                        "stagingSettings": {
                                            "linkedServiceName": {
                                                "referenceName": "AzureBlobStorageLinkedService",
                                                "type": "LinkedServiceReference"
                                            },
                                            "path": "output"
                                        },
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "AzureSynapseAnalyticsTable",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "tableName": {
                                                    "value": "@pipeline().parameters.tableName",
                                                    "type": "Expression"
                                                },
                                                "schemaName": {
                                                    "value": "@pipeline().parameters.schemaName",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "BlobData",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "containerName": {
                                                    "value": "@pipeline().parameters.containerName",
                                                    "type": "Expression"
                                                },
                                                "datasetName": {
                                                    "value": "@pipeline().parameters.datasetName",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Send file name to applogic",
                                    "type": "WebActivity",
                                    "dependsOn": [
                                        {
                                            "activity": "SynapseSqlpoolToBlobStorage",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "url": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]",
                                        "connectVia": {
                                            "referenceName": "AutoResolveIntegrationRuntime",
                                            "type": "IntegrationRuntimeReference"
                                        },
                                        "method": "POST",
                                        "headers": {},
                                        "body": {
                                            "value": "{\n   \"Subject\": \"Data Copied Successfully Alert !\",\n   \"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n   \"From\":\"@{pipeline().parameters.From}\",\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Schemas\": \"@{pipeline().parameters.schemaName}\",\n   \"FileNames\": \"@{concat(pipeline().parameters.tableName,'.csv')}\"\n}",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "parameters": {
                                "schemaName": {
                                    "type": "string",
                                    "defaultValue": "[parameters('schemaName')]"
                                },
                                "tableName": {
                                    "type": "string",
                                    "defaultValue": "[parameters('tableName')]"
                                },
                                "containerName": {
                                    "type": "string",
                                    "defaultValue": "[parameters('containerName')]"
                                },
                                "datasetName": {
                                    "type": "string",
                                    "defaultValue": "[variables('datasetCsv')]"
                                },
                                "EmailTo": {
                                    "type": "string",
                                    "defaultValue": "[parameters('EmailTo')]"
                                },
                                "From": {
                                    "type": "string",
                                    "defaultValue": "[parameters('EmailFrom')]"
                                }
                            },
                            "folder": {
                                "name": "SynapseDataExporter/ExportSingleTableDataToCsv"
                            },
                            "annotations": [],
                            "lastPublishTime": "2021-04-26T11:47:25Z"
                        },
                        "dependsOn": [
                        ]
                    }
        
    ],

    "outputs": {}
}
