SynapseDataExporter/templates/AllTablesOfAllScehmasFromSynapseToBlobJson/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "location": {
            "type": "string",
            "defaultValue": "eastus"
         },


        "storageAccountName": {
            "type": "string",
            "defaultValue":"storage",
            "metadata": {
                "description": "The storage account name can contain only lowercase letters and numbers. Name must be between 1 and 11 characters"
            }
        },
        
        "sqlDBPoolName": {
            "type": "string",
            "defaultValue": "synapsesqlpool",
            "metadata": {
                "description": "Database name should not match special patterns,The value has a length of at most 115. Database name should not contain reserved words.No database with the same name exists in the server"
            }
        },
        "synapseWorkSpaceName": {
            "type": "string",
            "defaultValue": "testsynapsews",
            "metadata": {
                "description": "Server name must be at least 1 characters and at most 50 characters. Server name must only contain lowercase letters, numbers, and hyphens. The server name must not start or end in a hyphen."
            } 
        },

       "administratorLogin": {
             "type": "string",
             "metadata": {
                 "description": "Your login name must not contain a SQL Identifier or a typical system name (like admin, administrator, sa, root, dbmanager, loginmanager, etc.) or a built-in database user or role (like dbo, guest, public, etc.). "
             }
        },
        "schemaName": {
            "type": "string",
            "defaultValue": "covid",
            "metadata": {
                "description": "Enter the name of schema to extract data"
            }
        },
        "tableName": {
            "type": "string",
            "defaultValue": "covid_british_columbia",
            "metadata": {
                "description": "Enter the name of table to extract data"
            }
         },
        "containerName": {
            "type": "string",
            "defaultValue": "synapsesqlpooldata",
            "metadata": {
                "description": "Enter the name of blob storage container to store the data"
            }
        },
        "datasetName": {
            "type": "string",
            "defaultValue": "covid_british_columbia",
            "metadata": {
                "description": "Enter the dataset name which will be the name of data stored in blob storage container?"
            }
        },

        "EmailTo": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Enter the email address for sending alerts "
            }
        },
        "EmailFrom": {
            "type": "string",
            "defaultValue": "adfalerts@hotmail.com",
            "metadata": {
                "description": "Enter the email address from you want to send alerts "
            }
        },

        "logicAppName": {
            "defaultValue": "TeamsNotify",
            "type": "String"
        },
        "keyVaultName": {
            "type": "string",
            "metadata": {
              "description": "Specifies the name of the key vault."
            }
          }
    },
    "variables": {
        "factoryId": "[resourceId('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]",
        "fullyQualifiedDomainName": ".sql.azuresynapse.net",
        "keyVaultbaseUrl":"[concat('https://',parameters('keyVaultName'),'.vault.azure.net')]",
        "datasetCsv":"[concat(parameters('datasetName'), '.csv')]",
        "datasetJson":"[concat(parameters('datasetName'), '.json')]",
        "datasetJsonl":"[concat(parameters('datasetName'), '.jsonl')]",
        "datasetParquet":"[concat(parameters('datasetName'), '.parquet')]"

    },
    "resources": [

          {
            "name": "[concat(parameters('factoryName'), '/AllTablesOfAllScehmasFromSynapseToBlobJson')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "get-tables",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource",
                                "sqlReaderQuery": {
                                    "value": "select * from synapsesqlpool.INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "AzureSynapseAnalyticsTable",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "value from query",
                                    "schemaName": "value from quwry"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "copy-each-table",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "get-tables",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('get-tables').output.value",
                                "type": "Expression"
                            },
                            "activities": [
                                {
                                    "name": "Copy data to blob storage",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SqlDWSource",
                                            "queryTimeout": "02:00:00",
                                            "partitionOption": "None"
                                        },
                                        "sink": {
                                            "type": "JsonSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "JsonWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "AzureSynapseAnalyticsTable",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "tableName": {
                                                    "value": "@item().Table_Name",
                                                    "type": "Expression"
                                                },
                                                "schemaName": {
                                                    "value": "@item().table_schema",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "BlobDataJson",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "containerName": {
                                                    "value": "@pipeline().parameters.containerName",
                                                    "type": "Expression"
                                                },
                                                "datasetName": {
                                                    "value": "@concat(item().table_schema,'_',item().table_name,'.json')",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "AppendFileNamesvariable",
                                    "type": "AppendVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "AppendSchemaNamesvariable",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "fileNamesCopy",
                                        "value": {
                                            "value": "@concat(item().table_schema,'_',item().table_name,'.json')",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "AppendSchemaNamesvariable",
                                    "type": "AppendVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "Copy data to blob storage",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "schemaNameCopy",
                                        "value": {
                                            "value": "@item().table_schema",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Set files list",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "copy-each-table",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "fileName",
                            "value": {
                                "value": "@join(variables('fileNamesCopy'),', ')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Send files list to logic app",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Set schemas list",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url":"[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]",
                            "connectVia": {
                                "referenceName": "AutoResolveIntegrationRuntime",
                                "type": "IntegrationRuntimeReference"
                            },
                            "method": "POST",
                            "headers": {},
                            "body": {
                                "value": "{\n   \"Subject\": \"Data Copied Successfully Alert !\",\n   \"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n   \"From\":\"@{pipeline().parameters.From}\",\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"FileNames\": \"@{variables('fileName')}\",\n   \"Schemas\":\"@{variables('schemaName')}\"\n}",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set schemas list",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set files list",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "schemaName",
                            "value": {
                                "value": "@join(variables('schemaNameCopy'),', ')",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "containerName": {
                        "type": "string",
                        "defaultValue": "[parameters('containerName')]"
                    },
                    "EmailTo": {
                        "type": "string",
                        "defaultValue":"[parameters('EmailTo')]"
                    },
                    "From": {
                        "type": "string",
                        "defaultValue": "[parameters('EmailFrom')]"
                    }
                },
                "variables": {
                    "fileNamesCopy": {
                        "type": "Array"
                    },
                    "fileName": {
                        "type": "String"
                    },
                    "schemaNameCopy": {
                        "type": "Array"
                    },
                    "schemaName": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "SynapseDataExporter/ExportAllSchemasDataToJson"
                },
                "annotations": [],
                "lastPublishTime": "2021-04-26T12:10:35Z"
            },
            "dependsOn": [
            ]
        }

        
    ],

    "outputs": {}
}
